<h1><%= @user.name %></h1>
<h3>Info</h3>
<p>
	<%= @user.email %><br/>
	<%= @user.description %></br/>
</p>
<h3>Music</h3>
<p>
	<% if not @music.empty? %>
	Uploaded music:<br/>
	<table cellspacing="10">
		<% @music.each do |music| %>
			<tr>
				<td><%= music.title %></td>
				<td><%= link_to "Edit", edit_path(music) %></td>
				<td><%= link_to "Delete", destroy_path(music), method: :delete, data: { confirm: 'Are you sure?' }%></td>
			</tr>
		<% end %>
	</table>
	<% else %>
	No themes yet! Get on it!
	<% end %>
</p>

