<h1>Upload your theme song!</h1>
<div class="container">
	<%= form_for @music, url: {action: "upload"}, multipart: true do |f| %>
		<%= f.label :title %>
    <%= f.text_field :title %>
    <br/>Your Theme<br/>
		<%= f.file_field :song %><br/><br/>
		<%= f.check_box :is_current_theme %> Set as current theme<br/>
		<br/><br/>
		<%= f.submit "Upload" %>
	<% end %>
</div>
